.case{
	width: 40px;
	height: 40px;
	background-image: url("../images/fond.png");
	float:left;
}

.mur{
	width: 40px;
	height: 40px;
	background-image: url("../images/mur.png");
	float:left;
}


.clearfix {
  overflow: auto;
  zoom: 1;
  float:none;
}

.ligne{
	width: 800px;
	height: 40px;
}

.rotate90{
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  	transform: rotate(90deg);
}

.rotate180{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  	transform: rotate(180deg);
}

.rotate270{
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
  	transform: rotate(270deg);
}